USE [master]
GO
/****** Object:  Database [Agencia]    Script Date: 19/12/2021 22:14:10 ******/
CREATE DATABASE [Agencia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Agencia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Agencia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Agencia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Agencia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Agencia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Agencia]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/12/2021 22:14:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DestinoUser]    Script Date: 19/12/2021 22:14:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestinoUser](
	[Id_Destino] [int] IDENTITY(1,1) NOT NULL,
	[País] [nvarchar](max) NOT NULL,
	[Cidade] [nvarchar](max) NOT NULL,
	[DataSaida] [nvarchar](max) NOT NULL,
	[DataChegada] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DestinoUser] PRIMARY KEY CLUSTERED 
(
	[Id_Destino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NovoUsers]    Script Date: 19/12/2021 22:14:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NovoUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[CPF] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[DestinoUserId_Destino] [int] NOT NULL,
 CONSTRAINT [PK_NovoUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_NovoUsers_DestinoUserId_Destino]    Script Date: 19/12/2021 22:14:12 ******/
CREATE NONCLUSTERED INDEX [IX_NovoUsers_DestinoUserId_Destino] ON [dbo].[NovoUsers]
(
	[DestinoUserId_Destino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NovoUsers]  WITH CHECK ADD  CONSTRAINT [FK_NovoUsers_DestinoUser_DestinoUserId_Destino] FOREIGN KEY([DestinoUserId_Destino])
REFERENCES [dbo].[DestinoUser] ([Id_Destino])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NovoUsers] CHECK CONSTRAINT [FK_NovoUsers_DestinoUser_DestinoUserId_Destino]
GO
USE [master]
GO
